### Tuples

- Tuple is another data structure object in Python used to store sequence of values
- Tuple can be defined with () - Paraenthis
- Each Tuple item will be seperated from comma (,) operator

In [1]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [2]:
print(type(t1))

<class 'tuple'>

In [3]:
for i in range(len(t1)):
    print(t1[i],end= ' ')

1 2 3 4 5

In [4]:
t1

(1, 2, 3, 4, 5)

In [5]:
len(t1)

5

In [6]:
max(t1)

5

In [7]:
min(t1)

1

In [8]:
sum(t1)

15

In [9]:
avg = sum(t1) // len(t1)
avg

3

In [10]:
t1.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
t1.add(1)

AttributeError: 'tuple' object has no attribute 'add'

In [12]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1[1] = 199

TypeError: 'tuple' object does not support item assignment

- Tuple does not support for inserts, deletes and Updates
- Tuple can be called as **Immutable** Object
- Generally Tuples are used for **readonly** purpose

<img src="DifferenceListTuple.png" align="center" height="250px" width="500px" />

In [14]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2

In [15]:
t3

(1, 2, 3, 4, 5, 6)

In [16]:
t3

(1, 2, 3, 4, 5, 6)

In [17]:
li = list(t3)
print(li,type(li))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [18]:
li.append(199)
li.append(200)
li.append(201)

In [19]:
li

[1, 2, 3, 4, 5, 6, 199, 200, 201]

In [21]:
t4 = tuple(li)
print(t4,type(t4))

(1, 2, 3, 4, 5, 6, 199, 200, 201) <class 'tuple'>

### Dictionary

- Python Dict objects is an unordered collection of items
- Each of the Dict object is has Key/Value pair
- This is Topic Called HashTable
- Dict Object Has enclosed with in Curly Braces - {}
- Each Key is seperated with Column Symbol
- Each pair of Key/Value is seperated with comma operator

In [22]:
my_dict = {1:"Anil Kumar",2:'Hyderabad',3:'SSE',4:'Gitam'}

In [23]:
print(my_dict)

{1: 'Anil Kumar', 2: 'Hyderabad', 3: 'SSE', 4: 'Gitam'}

In [24]:
print(type(my_dict))

<class 'dict'>

In [25]:
my_dict[1]

'Anil Kumar'

In [26]:
my_dict[2]

'Hyderabad'

In [27]:
my_dict[21]

KeyError: 21

In [28]:
dict1 = {'Name':'Anil Kumar','Loc':'hyd','Prog':'Python',9:'12345'}

In [29]:
dict1

{'Name': 'Anil Kumar', 'Loc': 'hyd', 'Prog': 'Python', 9: '12345'}

In [31]:
dict2 = {'Name':'Anil Kumar','Marks':[1,2,3,4,5]}

In [32]:
dict2['Marks']

[1, 2, 3, 4, 5]

In [35]:
for i in range(len(dict2['Marks'])):
    print(dict2['Marks'][i],end = ' ')

1 2 3 4 5

In [36]:
# Updates
my_dict

{1: 'Anil Kumar', 2: 'Hyderabad', 3: 'SSE', 4: 'Gitam'}

In [37]:
my_dict[1] = 'Change a value'

In [38]:
my_dict

{1: 'Change a value', 2: 'Hyderabad', 3: 'SSE', 4: 'Gitam'}

In [39]:
# Delete a Key
del my_dict[3] # Specific Key is deleted

In [40]:
my_dict

{1: 'Change a value', 2: 'Hyderabad', 4: 'Gitam'}

In [ ]:
del my_dict # Entire dict object is deleted

In [41]:
# Adding a new key and value pair
my_dict[5] = 'New Key and Value is adding'

In [42]:
my_dict

{1: 'Change a value',
 2: 'Hyderabad',
 4: 'Gitam',
 5: 'New Key and Value is adding'}

In [43]:
# Gives us the pair of keys and values
my_dict.items()

dict_items([(1, 'Change a value'), (2, 'Hyderabad'), (4, 'Gitam'), (5, 'New Key and Value is adding')])

In [44]:
# keys() gives all the keys of the dict object
my_dict.keys()

dict_keys([1, 2, 4, 5])

In [45]:
# values() gives all the values of the dict object
my_dict.values()

dict_values(['Change a value', 'Hyderabad', 'Gitam', 'New Key and Value is adding'])

In [47]:
for key,value in my_dict.items():
    print('Key = ',key,': Value = ',value)

Key =  1 : Value =  Change a value
Key =  2 : Value =  Hyderabad
Key =  4 : Value =  Gitam
Key =  5 : Value =  New Key and Value is adding