### Functional Programming In Python

### Functions
- A Function is a group related Statements that performs a specific task with in a Program
- Functions help break our program into smaller and modular chunks. As Our program grows larger and larger, functions make it more organized and manageable
- Function in Programming which increases the readablity of the program
- Functions will avoid the repetitions of the code and Increases the reusable
```Python
    def function_name(<Paramters>):
        Statements
        <return>
```
1. Keyword **def** that marks the start of the function 
2. **function_name** that you can write any name because it's user defined function. When write make the function_name with the proper meaning
3. **Parameters(Arguments)** through which we can pass values to a function
4. Statements which defines about the function or the task to be performed
5. **return** statement the which carries a return value or sometime empty

In [2]:
# Let's define a simple function
# A function without Parameters and Without Return value
# Function Defination
def greet():
    print('Hello Good morning')
    return

In [3]:
# Calling the function
greet()

Hello Good morning

In [4]:
# A function with Parameters and Without Return value
def greet_1(name):
    print('Hello ',name,'Good Morning')
    return

In [5]:
greet_1('Anil Kumar')

Hello  Anil Kumar Good Morning

In [6]:
# A Function without Parameters and with a return value
def calculate():
    x = 10
    return x*x

In [7]:
calculate()

100

In [8]:
# A Function with Parameters and With a return value
def cube(n):
    return n*n*n

In [9]:
cube(10)

1000

In [10]:
cube(1212)

1780360128

In [11]:
def div(x,y):
    return x//y

In [12]:
div(10,2)

5

In [13]:
div(10,0)

ZeroDivisionError: integer division or modulo by zero

In [16]:
# Write a Function to Test given number is Prime or not
# You need return True or False
def is_prime(n):
    flag = False
    for i in range(2,int(n//2)+1):
        if n % i == 0:
            flag = True
            break
    if flag == False:
        return "Prime Number"
    return "Not a Prime"

In [17]:
is_prime(11)

'Prime Number'

In [18]:
is_prime(12)

'Not a Prime'

In [21]:
# Factors of a given number
def factors_list(n):
    for i in range(1,n+1):
        if n % i == 0:
            print(i,end = ' ')
    return

In [22]:
factors_list(12)

1 2 3 4 6 12

In [23]:
factors_list(122311123)

1 11 11119193 122311123

In [26]:
def prime_or_not(n):
    flag=False
    for i in range(2,int(n//2)+1):
        if n%i==0:
            flag=True
            break
    if flag == False:
        return True
    return False
prime_or_not(11)

True

### DataStructures in Python
- Data structures are a way to organizing the data 
- Organize the data properly it can be easy for searching, sorting, deleting and updating
- Data structures are fundamentals to programming languages which in built in types
- Python helps to learn the data strucutes in very simpler way to compare with other programming languages

### Data Structures
- List
- Tuple
- Dict
- Set and FrozenSet

### List in Python
- List in Python are ordered and have a definite count
- The elements in the list can be used with inded and Index will starts from 0 and ends the Index with len-1
- Here in the list object we can able to perform the all the opertations like insert update delete
- List with different type of data is also allowed
- List can be defined with Square brackets - **[]**
- Each element of the list will be seperated from comma **,** Operator

In [27]:
li = [1,2,3,4,5]
print(li,type(li))

[1, 2, 3, 4, 5] <class 'list'>

In [28]:
li[0] # Index of 0

1

In [29]:
li[1]

2

In [30]:
len(li)

5

In [31]:
li[4]

5

In [32]:
li1 = [1,2,'Application',21.121,'a',123]

In [33]:
print(li1,type(li1))

[1, 2, 'Application', 21.121, 'a', 123] <class 'list'>

In [34]:
# Use the Loop to print list elements
for i in range(len(li)):
    print(li[i],end = ' ')

1 2 3 4 5

In [38]:
# Write a simple functon to add the 10 to each element of the list
def add_10(li):
    for i in range(len(li)):
        li[i] = li[i] + 10
    return li

In [39]:
add_10(li)

[21, 22, 23, 24, 25]

In [37]:
li

[11, 12, 13, 14, 15]

In [40]:
new_li = [100,200,300]
add_10(new_li)

[110, 210, 310]

### Function in Python List
- len()
    - Used to find the count of elements in the list
- max()
    - used to find out the Large element of the list 
-  min()
    - Used to find out the least element of the list
- sum()
    - Used to find out the sum of all the elements in the list

In [41]:
list1 = [181,12,123,1,4,991,871,272]

In [42]:
print(list1)

[181, 12, 123, 1, 4, 991, 871, 272]

In [43]:
len(list1)

8

In [44]:
max(list1)

991

In [45]:
min(list1)

1

In [47]:
sum(list1)

2455

In [48]:
avg = sum(list1)//len(list1)

In [49]:
avg

306

In [50]:
# Update certain value in the list object
li

[21, 22, 23, 24, 25]

In [51]:
li[2] = 2300
li

[21, 22, 2300, 24, 25]

In [52]:
li[5] = 9812

IndexError: list assignment index out of range

In [53]:
# Delete the element of the list object
del li[2] # Here single index of list wil be deleted
li

[21, 22, 24, 25]

In [54]:
del li #Entire list object is deleted

In [55]:
li

NameError: name 'li' is not defined