## List in Python

### List Methods
- Append() 
    - The append() of List can add a new item or element at the end of the list
        - listObj.append(VariableValue/Value)
- Index()
    - The index() will give us the item position
        - listObj.index(Value)
- Insert()
    - The insert() of List can add a new item or element in specified position
        - listObj.insert(IndexPosition,Value/Variable)
- Count()
    - The count() of List can used to find how many times a certain value is repeated
        - listObj.count(Value)
- Reverse()
    - The reverse() of list can reverse the list object
        - listObj.reverse()
        
- Remove()
    - The remove() of list can removes the specific value from the list object
        - listObj.remove(Value)
- pop()
    - The pop() of list can removes value from last index
        - listObj.pop()
- Extend()
    - The extend() list can extend the list from to another one
        - listObj.extend(listObj)
- Sort()

<Img src="ListMemory.png" height="350px" width="500px" align="center" />

In [1]:
list1 = [11,12,423,18,98,1]
list1

[11, 12, 423, 18, 98, 1]

In [2]:
# Want a add a new elenent or item - 199
list1.append(199)
list1

[11, 12, 423, 18, 98, 1, 199]

In [3]:
list1.insert(2,299)
list1

[11, 12, 299, 423, 18, 98, 1, 199]

### Examples of List Append Method
- Find out the Even numbers between 1 to N as Return object as List

In [4]:
def even_numbers_list(n):
    res_out = []
    for i in range(1,n):
        if i % 2 == 0:
            res_out.append(i)
    return res_out

In [6]:
n = int(input())
even_numbers_list(n)

10

[2, 4, 6, 8]

In [7]:
list1

[11, 12, 299, 423, 18, 98, 1, 199]

In [8]:
list1.append(11)
list1.append(299)
list1.append(11)
list1.append(11)
list1.append(299)
list1.append(423)

In [9]:
list1

[11, 12, 299, 423, 18, 98, 1, 199, 11, 299, 11, 11, 299, 423]

In [10]:
list1.count(11)

4

In [11]:
list1.count(12)

1

In [13]:
list1.count(299)

3

### Examples on count() method

In [14]:
def count_item_list(list1,val):
    cnt = 0
    for i in range(len(list1)):
        if list1[i] == val:
            cnt += 1            
    return cnt

In [15]:
count_item_list(list1,11)

4

In [16]:
count_item_list(list1,299)

3

In [17]:
count_item_list(list1,122)

0

### Return True if the value is exists otherwise False

In [18]:
def find_item_list(li,item):
    for i in range(len(li)):
        if li[i] == item:
            return True
    return False

In [19]:
list2 = [11, 12, 299, 423, 18, 98, 1, 199]
find_item_list(list2,299)

True

In [20]:
find_item_list(list2,871)

False

In [21]:
list2

[11, 12, 299, 423, 18, 98, 1, 199]

In [22]:
list2.index(299)

2

In [23]:
list2.index(999)

ValueError: 999 is not in list

In [24]:
list2.reverse()

In [25]:
list2

[199, 1, 98, 18, 423, 299, 12, 11]

### Programmatical Implementation for Index Method

In [29]:
def index_list(li,val):
    for i in range(len(li)):
        if li[i] == val:
            return i
    return str(val) + "is not in list"

In [30]:
index_list(list2,187)

'187is not in list'

In [31]:
index_list(list2,299)

5

### Programmatical Implementation for Reverse method

In [32]:
def reverse_list(li):
    res_out = []
    for i in li:
        res_out.insert(0,i)
    return res_out

In [33]:
reverse_list(list2)

[11, 12, 299, 423, 18, 98, 1, 199]

In [34]:
list2

[199, 1, 98, 18, 423, 299, 12, 11]

In [36]:
list2.remove(11)

In [37]:
list2

[199, 1, 98, 18, 423, 299, 12]

In [38]:
list2.pop()

12

In [39]:
list2.pop(4)

423

In [40]:
list2

[199, 1, 98, 18, 299]

In [41]:
list1

[11, 12, 299, 423, 18, 98, 1, 199, 11, 299, 11, 11, 299, 423]

In [42]:
list2

[199, 1, 98, 18, 299]

In [43]:
list1.extend(list2)

In [44]:
list1

[11,
 12,
 299,
 423,
 18,
 98,
 1,
 199,
 11,
 299,
 11,
 11,
 299,
 423,
 199,
 1,
 98,
 18,
 299]

In [45]:
list2

[199, 1, 98, 18, 299]

### Programmatical Implementation for Remove Method

In [50]:
def remove_li_item(li,item):
    res_out = []
    for i in range(len(li)):
        if li[i] != item:
            res_out.append(li[i])
    return res_out

In [51]:
list2

[199, 98, 18, 299]

In [52]:
remove_li_item(list2,1)

[199, 98, 18, 299]

In [53]:
remove_li_item(list2,18)

[199, 98, 299]

In [ ]:
def remove_li(li,item):
    res=[]
    for i in range(len(li)):
        if li[i] != item:
            res.append(li[i])
    return res 
li=[11,22,33,44,55]
print(remove_li(li,22))